/* CONTENEDOR GENERAL DE LA TARJETA */
.album-card {
  width: 160px;
  padding: 12px;
  border-radius: 10px;
  background: #181818;
  color: #fff;
  text-align: center;

  /* espacio interno entre elementos */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* HOVER PROFESIONAL */
.album-card:hover {
  transform: translateY(-6px); /*subo para el eje*/
  background: #282828;
}

/* HEADER CON IMAGEN */
.album-header {
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

/* IMAGEN DE LA TARJETA */
.album-header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

/* INFO CON TÍTULO Y BOTÓN */
.album-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* TÍTULO */
.album-card h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 1.3;
  color: #fff;
}

/* ARTISTA O SUBTÍTULO */
.album-card p {
  font-size: 12px;
  margin: 0;
  color: #b3b3b3;
}

/* BOTÓN DE FAVORITO */
.album-info app-favorito-btn {
  align-self: flex-start;
}
