<!-- Sección de portada con carruseles destacados -->
<section class="portada">
  <!-- SECCIÓN 1: CARRUSEL DE ÁLBUMES -->
  <div>
    <h2>Albums destacada</h2>
    <app-carrusel [items]="albums()" type="album"></app-carrusel>
  </div>

  <!-- SECCIÓN 2: CARRUSEL DE CANCIONES -->
  <div>
    <h2>Canciones destacada</h2>
    <app-carrusel [items]="tracks()" type="track"></app-carrusel>
  </div>

  <!-- SECCIÓN 3: CARRUSEL DE ARTISTAS -->
  <div>
    <h2>Artistas destacada</h2>
    <app-carrusel [items]="artists()" type="artist"></app-carrusel>
  </div>
</section>
